.container {
    color: #222222;
    width: 100%;
    font-size: 18px;
  }
  
  h2 {
    font-family: "League Gothic", sans-serif;
    line-height: 110px;
    margin: 5px;
    padding: 10px;
    font-size: 108px;
    font-weight: 300;
  }

  button {
    font-family: "League Spartan", sans-serif;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 5px 5px 7px rgba(0, 0, 0.6, 0.6); 
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    color: black;
  }

  .button-div {
    width:100%;
    text-align: center;
  }

  p,
  h3 {
    margin: 5px;
    padding: 10px;
    font-family: "League Spartan", sans-serif;
    line-height: 23px;
  }
  
  span {
    font-family: "League Spartan", sans-serif;
    line-height: 23px;
  }

  h4 {
    font-family: "League Spartan", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 5px;
  }
  
  .bio-content {
    margin-left: 15px;
  }

  .bio-text {
    margin-left: 0;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .titles {
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
  }
  
  .years {
    font-size: 24px;
    vertical-align: middle;
  }
  
  #logo-dark {
    opacity: 0; 
  }
  
  #work {
    height: 100%;
    /* #f9ece5;*/
    color: #222222;
    padding-right: 140px;
    padding-left: 280px;
  }

  #team {
    padding-right: 40px;
    padding-left: 280px;
  }

  .uni-logo {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }

  #unis-row {
    width: 80%;
  }

  #cmu-logo {
    height: 100px;
    width: 100px;
  }

  #nmsu-logo {
    height: 100px;
    width: 90px;
  }

  #mich-state-logo {
    height: 80px;
    width: 130px;
  }

  #uiuc-logo {
    height: 60px;
    width: 220px;
  }

  #unite-here-logo {
    height: 80px;
    width: 140px;
  }

  #stockton-logo {
    height: 80px;
    width: 150px;
  }

  #funding {
    height: fit-content;
    background-color: #f9e8e1;
    /* #f9ece5;*/
    color: #222222;
    align-items: right;
    text-align: left;
    display: flex;
  }

  #nsf-logo {
    width: 130px;
    height: 130px;
    margin: 20px;
  }

  #block-center-logo {
    width: 290px;
    height: 95px;
    margin: 20px;
  }
  
  .mini-section {
    font-size: 82px;
    line-height: 76px;
  }
  
  .funding-text {
    font-size: 1.25em;
    line-height: 1.15em;
    width: 75%;
    padding-left: 50px;
    padding-right: 50px;
    align-items: left;
  }

  .overview-text {
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
    font-size: 1.25em;
    line-height: 1.15em;
  }

  #partners {
    background-color: #f9e8e1;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  
  .main-body {
    height: 100%;
  }
  
  body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .nav-bar {
    float: right;
    height: 40px;
    padding: 25px 50px 0px 0px;
  }
  
  .nav-bar a {
    padding: 8px 8px 8px 22px;
    text-decoration: none;
    color: #222222;
    transition: 1s;
    font-family: "League Gothic", sans-serif;
    font-weight: 300;
    font-size: 38px;
  }
  
  .section-dark {
    background-color: #222222;
    color: white;
    padding-left: 270px;
    padding-right: 40px;
  }
  
  .section-light {
    padding-left: 270px;
    background-color: white;
    padding-right: 40px;
  }
  
  .ra-bio-content {
    line-height: 23px;
  }
  
  .faculty-bio {
    display: flex;
    flex-direction: row;
    border: 2px solid #222222;
    border-radius: 30px;
    margin: 0px 160px 30px 40px;
    padding: 20px 25px 20px 25px;
    height: 0%;
    min-height: 250px;
    font-size: 17px;
    align-items: center;
  }
  
  .faculty-headshot {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .details {
    font-size: 20px;
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
  }

  .page-header {
    padding-top: 80px;
    padding-left: 45px;
  }

  #overview-header {
    padding-bottom: 0;
    line-height: 0.9em;
  }

  .ra-headshot {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-right: 25px;
  }
  
  .ra-bios {
    border: 2px solid #222222;
    border-radius: 30px;
    padding: 20px 25px 20px 25px;
    margin: 0px 160px 30px 40px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
  
  .right {
    text-align: right;
    padding-right: 40px;
  }
  
  .left {
    text-align: left;
  }
  
  a {
    text-decoration: none;
    color: #222222;
  }
  
  a:visited {
    color: #222222;
  }
  
  #external-icon {
    color: #222222;
    font-size: 16px;
  }
  
  .dot {
    height: 25px;
    width: 25px;
    background-color: #F57455;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .names {
    font-size: 45px;
    line-height: 30px;
    padding-left: 0;
    margin-left: 0;
  }
  
  .ra-names {
    font-size: 45px;
    line-height: 30px;
  }
  
  .proj-names {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.5px;
    padding-left: 0;
    margin-left: 0;
  }
  
  .subhead {
    text-align: left;
    font-size: 56px;
    font-family: "League Gothic", sans-serif;
    font-weight: 300;
    padding-left: 50px;
  }
  
  .contact-info {
    font-size: 24px;
  }

  .proj-desc {
    font-size: 20px;
    line-height: 24px;
  }
  
  .project {
    padding-left: 25px;
    padding-bottom: 25px;
    margin: 20px;
    text-align: left;
  }
  
  .pdf-viewer {
    text-align: center;
  }
  
  img {
    vertical-align: bottom;
  }
  
  
  .header {
    position: fixed;
    top: 14%;
    transform: translateY(-50%);
    left: 1%;
    right: 0;
    padding: 12px;
    text-align: center;
    width: 250px;
  }
  
  .header__logo {
    width: fit-content;
    height: fit-content;
  }
  
  .logo-img {
    width: 250px;
    height: 250px;
  }
  
  .section--bg {
    background-color: var(--color-1);
  }

  .header__title {
    flex: 1;
    text-align: center;
    color: black;
    font-family: "League Gothic", sans-serif;
    display: none;
}

/*Page load animations*/
header {
  transition: 1s;
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/*****MEDIA QUERIES FOR REDUCED WINDOW/SCREEN SIZES****/
  @media screen and (max-width: 1250px) {
    .nav-bar a {
      font-size: 32px;
    }

    /*Allow horizontal scrolling in case of text overflow*/
    

  }

  /*Reorganize bio layouts to reduce whitespace*/
  @media screen and (max-width:1000px) {
    .faculty-bio {
      flex-direction: column;
      text-align: center;
      width: 80%;
    }

    .names {
      font-size: 40px;
    }

    .details {
      font-size: 20px;
    }

    .titles {
      font-size: 20px;
    }

    .ra-bios {
      flex-direction: column;
      text-align: center;
      width: 80%;
    }

    .overview-text {
      width: 85%;
    }
    
    .funding-text {
      width: 85%;
    }

    #overview-header {
      font-size: 85px;
    }

    .page-header {
      font-size: 85px;
    }

    .dot {
      height: 20px;
      width: 20px;
    }

  }

  /* Adjust layout for mobile devices */
  @media screen and (max-width: 800px) {

    /* Hide parallax logo*/
    .header__logo {
        display: none;
    }

    /*Display static logo*/
    .header__title {
        text-align: left; 
        padding-left: 10px; 
        display: block;
        padding-top: 0;
        top: 0;
    }
    .header__title img {
      width: 130px;
      height: 130px;
      padding: 0;
    }
    .header {
      position: absolute;
    }

    /*Reduce nav bar padding*/
    .nav-bar {
      padding-top: 45px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .nav-bar a {
      padding: 15px;
    }

    /*Reconfigure spacing for about section*/
    #about {
      height: 1300px;
      padding-left: 0;
      
    }

    .about-hook {
      padding-top: 85px;
      display: flex;
      margin-bottom: 10px;
    }

    .about-text {
      padding-top: 0;
      margin-top: 0;
      width: 510px;
    }

    .section {
      padding-left: 30px;
    }

    #funding {
      height: 460px;
      padding-left: 0;
    }

    #partners {
      padding-left: 0;
    }

    .overview-text {
      width: 90%;
    }
    
    .funding-text {
      width: 90%;
    }

    .uni-logo {
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    #overview-header {
      font-size: 64px;
    }

    .page-header {
      font-size: 64px;
    }

    .dot {
      width: 15px;
      height: 15px;
    }

  }

     /* Adjust layout for mobile devices */
  @media screen and (max-width: 800px) {

    #about {
      height: fit-content;
    }

    .nav-bar a {
      font-size: 26px;
      padding: 10px;
    }
  }



   

