
    .container {
      color: #222;
      width: 100%;
      font-size: 18px
    }
  
    h1,
    h3 {
      font-family: "League Gothic", sans-serif;
      line-height: 110px;
      margin: 5px;
      padding-bottom: 10px;
      font-size: 100px;
      font-weight: 300
    }
  
    h2,
    p {
      margin: 5px;
      padding: 10px;
      font-family: "League Spartan", sans-serif;
      line-height: 23px
    }
  
    span {
      font-family: "League Spartan", sans-serif;
      line-height: 23px
    }
  
    .bio-content {
      margin-left: 15px
    }
  
    .bio-text {
      margin-left: 0;
      padding-left: 0;
      font-size: 18px;
      line-height: 22px
    }
  
    .titles {
      font-size: 20px;
      font-weight: 700;
      line-height: 22px
    }
  
    .years {
      font-size: 24px;
      vertical-align: middle
    }
  
    #work {
      height: 100%;
      color: #222
    }

    .row {
      display: flex;
    }

    #wrap-text .cover-img {
      width: 500px;
      height: 400px;
      -webkit-shape-outside: margin-box;
      shape-outside: margin-box;
      float:right;
      font-size: 0;
      padding-left: 15px;
      padding-bottom: 15px;
     
    }
  
    .uni-logo-container {
      height: 140px;
      width: 140px;
    }

    .logos-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1px;
      align-items: center;
      flex-direction: row;
      margin-bottom: 15px;
    }
  
    .logos-container img {
      max-width: 100%;
      height: auto;
    }
  
    #funding {
      height: fit-content;
      background-color: #ffffff;
      color: #222;
      align-items: right;
      text-align: left;
      display: flex
    }
  
    #nsf-logo {
      width: 100px;
      height: 100px;
      margin: 20px
    }
  
    #block-center-logo {
      width: auto;
      height: 70px;
      margin: 20px
    }
  
    .overview-text {
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 1.2em;
      line-height: 1.35em
    }
  
    #partners {
      background-color: #ffffff;
      height: fit-content;
      display: flex;
      flex-direction: column
    }

    #goal {
      background-color: #f9e8e1;
      height: fit-content;
      display: flex;
      flex-direction: row;
      font-size: 26px;
    }

    .goal-mark {
      background-color: #fdcab4;
      border-radius: 8px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .vertical-line {
      border-left: thick solid #f57455;
    }

    #overview-line {
      /*height: 415px;*/
      height: auto;
    }

    #bios-line {
      height: 56px;
    }

    #bottom-text {
      text-align: left;
    }

    #goal-text {
      text-align: left;
      padding-left: 35px;
      font-weight: 600;
    }
  
    .main-body {
      height: 100%
    }
  
    body {
      margin: 0;
      max-width: 100%;
      overflow-x: hidden
    }
  
    .menu-toggle {
      display: none;
      cursor: pointer
    }
  
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: #333;
      transition: background-color .3s ease
    }
  
    .nav-bar {
      float: right;
      height: 40px;
      padding: 25px 50px 0 0
    }
  
    .nav-bar a {
      padding: 8px 8px 8px 22px;
      text-decoration: none;
      color: #222;
      transition: 1s;
      font-family: "League Gothic", sans-serif;
      font-weight: 300;
      font-size: 38px
    }
  
    .section-content {
      margin: auto;
      max-width: 900px;
      padding-left: 100px;
      text-align: left;
    }
  
    .ra-bio-content {
      line-height: 23px
    }
  
    .faculty-bio {
      display: flex;
      flex-direction: row;
      border: 2px solid #222;
      border-radius: 30px;
      margin-bottom: 30px;
      padding: 30px 25px 20px 25px;
      height: 0%;
      min-height: 250px;
      font-size: 17px;
      align-items: center
    }
  
    .faculty-headshot {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin-right: 10px
    }
  
    .details {
      font-size: 20px;
      vertical-align: middle;
      margin: 5px;
      padding: 10px
    }
  
    .page-header {
      padding-top: 80px;
      padding-left: 0;
      margin-left: 0;
      white-space: nowrap
    }
  
    #overview-header {
      padding-bottom: 0px;
      line-height: .95em;
      padding-left: 0;
      margin-left: 0
    }
  
    .ra-headshot {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin-right: 25px
    }
  
    .ra-bios {
      border: 2px solid #222;
      border-radius: 30px;
      padding: 30px 25px 20px 25px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      font-size: 18px;
      line-height: 22px;
      align-items: center;
      max-width: 95%
    }
  
    a {
      text-decoration: none;
      color: #222
    }
  
    a:visited {
      color: #222
    }
  
    #external-icon {
      color: #222;
      font-size: 16px
    }
  
    .dot {
      height: 25px;
      width: 25px;
      background-color: #f57455;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle
    }
  
    .names {
      font-size: 45px;
      line-height: 30px;
      padding-left: 0;
      margin-left: 0
    }
  
    .proj-names {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: .5px;
      padding-left: 0;
      margin-left: 0
    }
  
    .subhead {
      text-align: left;
      font-size: 56px;
      font-family: "League Gothic", sans-serif;
      font-weight: 300;
      padding-left: 5px;
      margin-left: 0
    }
  
    .proj-desc {
      font-size: 20px;
      line-height: 24px
    }
  
    .project {
      padding-bottom: 25px;
      margin: 5px;
      text-align: left;
      overflow-wrap: break-word
    }
  
    .pdf-viewer {
      text-align: center
    }
  
    img {
      vertical-align: bottom
    }
  
    .header__logo {
      width: fit-content;
      height: fit-content;
      position: fixed;
      top: 14%;
      transform: translateY(-50%);
      left: 1%;
      right: 0;
      padding: 12px;
      text-align: center;
      width: 250px
    }
  
    .logo-img {
      width: 250px;
      height: 250px
    }
  
    header {
      transition: 1s
    }
  
    body {
      animation: fadeInAnimation ease 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards
    }
  
    @keyframes fadeInAnimation {
      0% {
        opacity: 0
      }
  
      100% {
        opacity: 1
      }
    }
  
    .header__logo #mobile-logo {
      display: none
    }
  
    @media screen and (max-width:1350px) {
      .header__logo #original-logo {
        display: none
      }
  
      .header__logo {
        top: 58px;
        left: 20px;
        position: absolute
      }
  
      .header__logo #mobile-logo {
        display: flex
      }
  
      #mobile-logo-img {
        height: 60px;
        width: 200px
      }
  
      .nav-bar a {
        font-size: 32px
      }
  
      .logos-container {
        width: 95%
      }
  
      #overview-header {
        font-size: 72px
      }
  
      .section-content {
        padding-left: 0;
        padding: 50px
      }

    }
  
    @media screen and (max-width:1000px) {
      .faculty-bio {
        flex-direction: column;
        text-align: center;
        max-width: 95%
      }
  
      .names {
        font-size: 40px
      }
  
      .details {
        font-size: 20px
      }
  
      .titles {
        font-size: 20px
      }
  
      .ra-bios {
        flex-direction: column;
        text-align: center
      }
  
      #overview-header {
        font-size: 72px
      }
  
      .page-header {
        font-size: 85px
      }
  
      .dot {
        height: 20px;
        width: 20px
      }
  
      .nav-bar a {
        font-size: 28px;
        padding: 12px
      }
    }
  
    @media screen and (max-width:800px) {

      .background--custom {
        display: none;
      }
  
      .faculty-bio,
      .ra-bios {
        margin: 25px
      }
  
      .nav-bar {
        padding-top: 45px;
        padding-left: 0;
        padding-right: 0
      }
  
      .page-header {
        padding-top: 100px;
        padding-bottom: 0;
        margin-bottom: 0
      }
  
      #about {
        height: 1300px;
        padding-left: 0
      }
  
      #team {
        padding-left: 0;
        padding-right: 0;
        margin: 0
      }

      #goal {
        font-size: 26px;
      }

      #goal-text {
        padding-left:0;
        margin-left: 30px;
        margin-right: 10px;
      }

      .vertical-line {
        margin-left: 30px;
      }
  
      #work {
        padding-left: 0
      }
  
      #funding {
        height: fit-content;
        padding-left: 0
      }
  
      #partners {
        padding-left: 0
      }
  
      #press {
        padding-left: 0
      }
  
      #survey {
        padding-left: 0
      }
  
      #overview-header {
        font-size: 56px;
        padding-top: 100px;
        text-wrap: balance;
      }
      
      .overview-text {
        text-align: left;
      }
  
      .page-header {
        font-size: 64px;
        padding-top: 60px
      }
  
      .subhead {
        padding: 0;
        padding-top: 10px;
        font-size: 42px;
      }

      #bios-line {
        height: 42px;
      }
  
      .dot {
        width: 15px;
        height: 15px
      }
  
      .section-content {
        padding-left: 0;
        padding: 30px
      }

      

  
      .row {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
  
      #wrap-text .cover-img {
        height: 280px;
        width: 350px;
        padding: 0;
        padding-bottom: 20px;
        
        
      }

    }
  
    @media screen and (max-width:800px) {
  
      .page-header,
      .subhead {
        padding-left: 30px
      }
  
      .project {
        padding-left: 30px
      }
  
      #about {
        height: fit-content
      }
  
      .nav-bar {
        display: none;
        width: 100px;
        height: 240px;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        z-index: 1000;
        margin-right: 20px
      }
  
      .nav-bar a {
        margin: 10px 0;
        padding: 0;
        padding-right: 10px;
        text-decoration: none;
        color: #333;
        font-size: 24px
      }
  
      .slider {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 0;
        background-color: red
      }
  
      .menu-toggle {
        display: block;
        position: absolute;
        top: 35px;
        right: 35px;
        z-index: 1500
      }

      .faculty-headshot, .ra-headshot {
        height: 150px;
        width: 150px;
        padding-bottom: 10px;
      }
    }

    @media screen and (max-width:600px) {
      #wrap-text .cover-img {
        height: auto;
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
        float: none;
      }
    }

    @media screen and (max-width:500px) {
      #overview-header {
        max-width: 350px;
        font-size: 40px;
        padding-top: 80px;
      }

      #goal-text {
        font-size: 26px;
      }

      .proj-names {
        font-size: 32px;
        line-height: 34px;
      }

      .years {
        font-size: 20px;
      }

    }
  
   



   

